body{
    overflow:hidden;
}

#map {
    height: 95%;

}

.map-overlay {
    z-index: 20;
}

.formLogLogIn {
    height: 75%;
    width: 100%;
}

.md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper >
md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper >
md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    color: #000000;
}

.img-dialog {
    max-height: 70%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.img-dialog-small {
    max-height: 30%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.list-dialog {
    max-height: 12%;
}

.list-dialog-big {
    max-height: 25%;
}