.md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper >
md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper >
md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    color: #000000;
}

.img-dialog {
    max-height: 70%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.img-dialog-small {
    max-height: 30%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title, .autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

#file-input {
    display: none;
}

.error-message {
    color: rgb(244,67,54)
}