.chips ::-webkit-input-placeholder{
    color:    #000000;
    font-weight: bold
}

.chips  ::-moz-placeholder{
    color:    #000000;
    opacity:  1;
    font-weight: bold
}

.chips ::-webkit-input-placeholder{
    color:    #000000;
    opacity:  1;
    font-weight: bold
}

.chips :-ms-input-placeholder{
    color:    #000000;
    font-weight: bold
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 5%;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.dragover {
    border: 5px dashed rgb(0,188,212);
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title, .autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

#file-input {
    display: none;
}

.error-message {
    color: rgb(244,67,54)
}

.btn-icon {
    font-size: 2em;
    margin: 0 0.5em;
}
.btn-icon {
    padding: 0;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease;
}
.btn-icon:active,
.btn-icon:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}
.btn-icon:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.btn-icon:focus {
    outline: 0 none !important;
}
.btn-icon .heart {
    color: #666666;
}
.btn-icon .heart:hover {
    color: rgba(102, 102, 102, 0.85);
}
.btn-icon .heart.active {
    color: #fe4365;
}
.btn-icon .heart.active:hover {
    color: rgba(254, 67, 101, 0.85);
}
