<md-content class="md-padding">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Bounding Box</span>
                <span class="md-subhead">Select area to automatically download data</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <map class="map-small" locate="false" areaselect="{{editBBox}}" areaselected="areaselected" bboxfeature="bboxfeature">
            </map>
            <md-card-actions class="fade" layout="row" layout-align="end center">
                <md-button class="md-primary" ng-show="!editBBox" ng-click="toggleEditBBox()">
                    <i class="material-icons">edit</i>
                </md-button>
                <div class="fade" ng-show="editBBox">
                    <md-button class="md-primary" ng-disabled="areaselected == undefined" ng-click="updateBBox()">
                        <i class="material-icons">save</i>
                    </md-button>
                    <md-button class="md-warn" ng-click="toggleEditBBox()">
                        <i class="material-icons">cancel</i>
                    </md-button>
                </div>
            </md-card-actions>
        </md-card-content>
    </md-card>
</md-content>