<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tourism interest points and routes management platform">
    <meta name="author" content="Martín Montes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#00bcd4">
    <title>GeoTourism</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" sizes="192x192" href="img/plane.png">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-providers/css/gh-fork-ribbon.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-markers/src/leaflet.extra-markers.css"/>
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.min.css"/>
    <link rel="stylesheet" href="bower_components/please-wait/build/please-wait.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
</head>
<body ng-controller="MainLayoutCtrl">
<div class="pg-loading-screen pg-loading" ng-hide="true">
    <div class="pg-loading-inner">
        <div class="pg-loading-center-outer">
            <div class="pg-loading-center-middle">
                <img class="img-loading" src="/img/plane.png">
                <h1 class="pg-loading-logo-header md-display-3">
                    GeoTourism
                </h1>
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-if="isMobile()" ng-click="openSideNav()">
            <i class="material-icons">menu</i>
        </md-button>
        <h2 class="md-headline">
            GeoTourism
        </h2>
        <span flex></span>
        <div layout="row">
            <md-button class="md-primary" ng-if="isAuthAdmin()" ng-click="logOut()">
                <i class="fa fa-user-times"></i> Log Out
            </md-button>
            <md-menu>
                <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-show="!isAuthAdmin()" ui-sref="admin">
                        <md-button>
                            Admin
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ui-sref="about">
                        <md-button>
                            About
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-is-locked-open="!isMobile()">
        <md-content layout-fill>
            <log-in-card></log-in-card>
            <md-menu-content>
                <md-menu-item ui-sref="places" >
                    <md-button class="md-primary">
                        <i class="material-icons">place</i>
                        <span class="md-title" flex-offset="25">Places</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item ui-sref="routes">
                    <md-button class="md-primary">
                        <i class="material-icons">directions</i>
                        <span class="md-title" flex-offset="25">Routes</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <div ui-view></div>
    </md-content>
</section>
</body>
</html>