<md-dialog class="mini-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <h3 class="md-title">
                Stats Configuration
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form name="statsForm" novalidate>
            <div layout="column">
                <md-input-container>
                    <label>Metric</label>
                    <md-select name="metric" ng-model="metricID"  ng-required="true">
                        <md-option ng-repeat="metric in metrics" value="{{metric.id}}">
                            {{metric.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="statsForm.metric.$error" role="alert">
                        <div ng-message="required" class="my-message">Mandatory field</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="75">
                        <label>Date</label>
                        <md-select name="date" ng-model="dateID" ng-required="false">
                            <md-option ng-repeat="date in dates" value="{{date.id}}">
                                {{date.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-warn" ng-click="clearDate()" ng-show="dateID!=undefined">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>
                <div ng-show="dateID == 3">
                    <md-datepicker ng-model="fromDate" md-placeholder="From" flex>
                    </md-datepicker>
                    <md-datepicker ng-model="toDate" md-placeholder="To" flex>
                    </md-datepicker>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-disabled="statsForm.$invalid" ng-click="accept()">
            <i class="material-icons">done</i>
        </md-button>
        <md-button class="md-warn" ng-click="close()">
            <i class="material-icons">cancel</i>
        </md-button>
    </div>
</md-dialog>