<md-dialog class="mini-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <h3 class="md-title">
                Stats Configuration
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-click="accept()">
            <i class="material-icons">done</i>
        </md-button>
        <md-button class="md-warn" ng-click="close()">
            <i class="material-icons">cancel</i>
        </md-button>
    </div>
</md-dialog>