<div layout="row" layout-align="center center">
<md-radio-group class="custom-selector" ng-model="favouritedBy">
    <md-radio-button class="md-primary" ng-value="person.value" ng-repeat="person in people">
        <i class="material-icons favourite">favorite</i> by {{person.text}}
    </md-radio-button>
</md-radio-group>
<md-button ng-show="favouritedBy != undefined" ng-click="favouritedBy = undefined">
    <i class="material-icons close">close</i><i class="material-icons">people</i>
</md-button>
</div>