<div layout="row" layout-sm="column" layout-align="center center">
    <md-input-container class="custom-selector">
        <label>FAVOURITED BY ...</label>
        <md-select ng-model="favouritedBy">
            <md-option ng-value="person.value" ng-repeat="person in people">
                {{person.text}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-warn" ng-show="favouritedBy != undefined" ng-click="favouritedBy = undefined">
        <i class="material-icons">close</i><i class="material-icons">people</i>
    </md-button>
</div>