@import 'variables';
@import 'mixins';

html, body {
  font-family: $font;
}

html.md-default-theme, html, body.md-default-theme, body{
  color: $custom-black;
}

body {
  overflow-y: hidden;
  .inner {
    display: none;
  }
  .pg-loaded > .inner {
    display: block;
  }
}

.sidebar-card {
  background-image: url('/img/sidebar_header.jpg');
  background-size: cover;
  margin:0;
  height:40%;
  @media screen and (max-width: 760px){
    height:50%;
  }
}

.main {
  height: 100%;
}

.text-white {
  color: $bone-white;
}

.shadow {
  background: rgba(0, 0, 0, 0.1);
}

.map {
  height: 95%;
}

.map-overlay {
  z-index: 20;
}

.map-medium {
  max-height: 40%;
}

.leaflet-top {
  z-index: 50;
}

.formLogLogIn {
  height: 75%;
  width: 100%;
}

md-content {
  background-color:rgba(255, 255, 255, 0.75);
}

.img-dialog-small {
  max-height: 30%;
  height: auto;
  display: block;
  border-radius: 5%;
}

.list-dialog {
  @include vertical-scroll-dialog(12%);
}

.list-dialog-big {
  @include vertical-scroll-dialog(25%);
}

.list-dialog-huge{
  @include vertical-scroll-dialog(40%);
}

.list-item {
  margin-bottom: 3%;
  background: #f0f0f0;
  border-radius: 3%
}

.as-sortable-placeholder {
  border: 1px dashed $color-primary;
  box-sizing: border-box;
  background-color: $color-primary-dark;
}

.error-message,.favorite,.close,.cancel,.clear {
  color: $custom-red;
}

.cyan {
  color: $color-primary;
}

.chips {
  ::-webkit-input-placeholder {
    color: black;
    font-weight: bold
  }
  ::-moz-placeholder {
    color: black;
    opacity: 1;
  }
  ::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
    font-weight: bold
  }
  :-ms-input-placeholder {
    color: #000000;
    font-weight: bold
  }
}

.drop-box {
  background: $bone-white;
  border: 5px dashed #DDD;
  height: 5%;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}

.dragover {
  border: 5px dashed $color-primary;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template {
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
  }
  li:last-child {
    border-bottom-width: 0;
  }
  .item-title, .item-metadata {
    display: block;
    line-height: 2;
  }
  .item-title md-icon {
    height: 18px;
    width: 18px;
  }
}

#file-input {
  display: none;
}

.btn-icon {
  font-size: 2em;
  margin: 0 0.5em;
  padding: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  :active, :focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
  }
  :active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  :focus {
    outline: 0 none !important;
  }
  .heart {
    color: #666666;
    &:hover {
      color: rgba(102, 102, 102, 0.85);
    }
    &.active {
      color: rgb(244, 67, 54);
      &:hover {
        color: rgb(161, 32, 20);
      }
    }
  }
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
  }
  .star.filled{
    color: #fd0;
  }
}

.md-contact-suggestion img {
  margin-top: -20%;
}

.fab-position {
  position: absolute;
  bottom: 0;
  margin-left: 88%;
  margin-bottom: 8%;
  @media screen and (max-width: 760px) {
    margin-left: 75%;
    margin-bottom: 18%;
  }
}

.loading-position {
  position: absolute;
  left: 50%;
  top: 50%;
}

.dialog {
  min-width: 50%;
}

.mini-dialog {
  min-width: 25%;
}

.dialog-route {
  min-width: 30%;
}

@media screen and (max-width: 760px){
  .dialog,.dialog-route,.mini-dialog  {
    width:100%;
    max-height:100%;
    max-width: 100%;
  }
}

.img-dialog {
  max-height: 50%;
  height: auto;
  display: block;
  border-radius: 5%;
}

.small-margin-top {
  margin-top: 2%;
}

.place-title {
  max-width: 60%;
}

.fade {
  &.ng-enter, &.ng-leave {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  }
  &.ng-enter {
    opacity: 0;
  }
  &.ng-leave {
    &.ng-leave-active {
      opacity: 0;
    }
    opacity: 1;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}


.pg-loading-screen {
  background-color: $bone-white;
}

.img-loading {
  max-height: 30%;
  max-width: 30%;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.bootstrap {
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
}