<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Place</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="formDialog" novalidate>
        <md-dialog-content class="md-dialog-content dialogContent">
            <div layout="column">
                <div layout="row">
                    <md-input-container flex="75">
                        <label>Type</label>
                        <md-select name="type" ng-model="place.type" required>
                            <md-option ng-repeat="type in types" value="{{type.id}}">
                                {{type.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formDialog.type.$error" role="alert">
                            <div ng-message="required" class="my-message">Mandatory field</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="75">
                        <label>Name</label>
                        <input name="name" ng-model="place.name" required>

                        <div ng-messages="formDialog.name.$error" role="alert">
                            <div ng-message="required" class="my-message">Mandatory field</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="place.description" columns="1" md-maxlength="150"></textarea>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Info URL</label>
                        <input name="infoUrl" type="url" ng-model="infoUrl"/>

                        <div ng-messages="formDialog.infoUrl.$error" role="alert">
                            <div ng-message="url">
                                Invalid URL
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <wikipedia-search placeholder="Search Info in Wikipedia" selectedsearchitem="selectedsearchitem">
                </wikipedia-search>
                <div layout="row">
                    <md-input-container flex>
                        <md-tooltip md-direction="top">
                            Leave blank if you upload a photo
                        </md-tooltip>
                        <label>Photo URL</label>
                        <input name="photoUrl" type="url" ng-model="place.photoUrl">
                        <div ng-messages="formDialog.photoUrl.$error" role="alert">
                            <div ng-message="url">
                                Invalid URL
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <input name="file" type="file" file />
                <button ng-click="upload()">Upload</button>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="start center">
            <span flex></span>
            <md-button class="md-warn" ng-click="close()">
                <i class="material-icons">cancel</i>
            </md-button>
            <md-button class="md-primary" ng-disabled="formDialog.$invalid" ng-click="save()">
                <i class="material-icons">save</i>
            </md-button>
        </div>
    </form>
</md-dialog>