<md-dialog class="dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <h3 class="md-title place-title">
                {{tip.name}}
            </h3>
            <favourite class="fade" favourited="tip.myFavourite" ng-if="isAuthFB()"></favourite>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div ng-show="!edit">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding" layout="row" layout-sm="column" layout-align="center center">
                        <div layout="column" layout-align="center center">
                            <h3 class="md-headline">
                                {{type.name}}
                            </h3>
                            <md-content layout-padding>
                                <p>{{tip.description}}</p>
                            </md-content>
                            <md-button class="md-primary" g-href="{{tip.infoUrl}}" target="_blank"
                                       ng-if="tip.infoUrl && !allowEdit">
                                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i> info
                            </md-button>
                            <h3 class="md-headline">
                                Address
                            </h3>
                            <md-content layout-padding>
                                <p>{{tip.address}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{tip.googleMapsUrl}}" target="_blank">
                                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">map</i> Google Maps
                            </md-button>
                        </div>
                        <div layout="column" layout-align="center center">
                            <md-card>
                                <img ng-src="{{tip.photoUrl}}" class="img-dialog">
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Social" ng-if="isAuthFB()">
                    <md-content class="md-padding">
                        <div layout="column">
                            <div layout="row" layout-sm="column">
                                <div flex-gt-sm="50">
                                    <div layout="column" layout-align="center center">
                                        <h3 class="md-headline">
                                            Average Rate:
                                        </h3>
                                        <star-rating rating="averageRate" readonly="true"></star-rating>
                                    </div>
                                    <div layout="column" layout-align="center center">
                                        <h3 class="md-headline">
                                            My Rate:
                                        </h3>
                                        <star-rating rating="myRate"
                                                     on-rating-select="rateSelected(rating)"></star-rating>
                                    </div>
                                </div>
                                <div flex-gt-sm="50">
                                    <div layout="column" layout-align="center center">
                                        <h3 class="md-headline">
                                            Favourite of:
                                        </h3>
                                        <md-content class="list-dialog">
                                            <md-list-item class="md-2-line fade" ng-repeat="user in tip.favouritedBy">
                                                <img ng-src="{{user.facebookProfilePhotoUrl}}" class="md-avatar"/>
                                                <md-button class="md-primary" ng-href="{{user.facebookProfileUrl}}"
                                                           target="_blank">
                                                    {{user.name}}
                                                </md-button>
                                            </md-list-item>
                                        </md-content>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center">
                                <h3 class="md-headline">
                                    Comments:
                                </h3>
                            </div>
                            <div layout="row" layout-align="center center">
                                <div class="column">
                                    <md-content class="list-dialog-big">
                                        <md-list-item class="md-3-line md-long-text fade"
                                                      ng-repeat="comment in tip.comments">
                                                <img ng-src="{{comment.user.facebookProfilePhotoUrl}}"
                                                     class="md-avatar"/>
                                                <div class="md-list-item-text">
                                                    <md-button class="md-primary"
                                                               ng-href="{{comment.user.facebookProfileUrl}}"
                                                               target="_blank">
                                                        {{comment.user.name}}
                                                    </md-button>
                                                    <p>
                                                        {{comment.commentText}}
                                                    </p>
                                                    <div class="fade" ng-if="comment.user.facebookUserId == facebookUserId">
                                                        <md-button class="md-warn" ng-click="deleteComment(comment.id)">
                                                            <i class="material-icons">delete</i>
                                                        </md-button>
                                                    </div>
                                                </div>
                                        </md-list-item>
                                    </md-content>
                                </div>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Comment</label>
                                    <textarea ng-model="comment" columns="1" md-maxlength="maxCommentSize"></textarea>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center">
                                <md-button type="submit" class="md-primary"
                                           ng-disabled="!comment || comment.length > maxCommentSize"
                                           ng-click="addComment(comment); comment = undefined;">
                                    <i class="material-icons">comment</i>
                                </md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div ng-show="edit">
            <form-place form="formDialog" edit="true" place="tip" restoreplace="copy" types="types"></form-place>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-if="isAuthenticated() && !edit" ng-click="enableEdit()">
            <i class="material-icons">edit</i>
        </md-button>
        <md-button class="md-primary" ng-if="isAuthenticated() && edit && formValidAndDirty(formDialog)"
                   ng-click="saveChanges()">
            <i class="material-icons">save</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated() && edit" ng-click="disableEdit(true)">
            <i class="material-icons">cancel</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated()" ng-click="delete()">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</md-dialog>