<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{feature.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="formDialog" novalidate>
        <md-dialog-content class="dialogContent">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding" layout="row">
                        <div layout="column" layout-align="center center" flex="50" layout-wrap>
                            <h3 class="md-title">
                                {{feature.type | placetype}}
                            </h3>
                            <md-content layout-padding>
                                <p>{{feature.description}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.infoUrl}}" target="_blank">
                                + info <i class="mdl-color-text--blue-grey-400 material-icons"
                                          role="presentation">info</i>
                            </md-button>
                            <hr/>
                            <h3 class="md-title">
                                Address
                            </h3>
                            <md-content layout-padding>
                                <p>{{feature.address}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.googleMapsUrl}}" target="_blank">
                                Open in Google Maps <i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">map</i>
                            </md-button>
                        </div>
                        <div flex="50">
                            <md-card>
                                <img ng-src="{{feature.photoUrl}}" class="img-dialog">
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Social" ng-if="isAuthenticated()">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <div class="md-actions" layout="row" layout-align="start center">
            <md-button class="md-raised md-warn" ng-if="isAuthenticated()" ng-click="delete()">
                Delete
            </md-button>
            <md-button ng-click="close()">
                Close
            </md-button>
        </div>
    </form>
</md-dialog>