<md-dialog ng-cloak flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                {{feature.name}}
            </h2>
            <favourite favourited="feature.myFavourite"></favourite>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div ng-show="!edit">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding" layout="row">
                        <div layout="column" layout-align="center center" flex="50" flex-order="1">
                            <h3 class="md-title">
                                {{type.name}}
                            </h3>
                            <md-content layout-padding>
                                <p>{{feature.description}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.infoUrl}}" target="_blank"
                                       ng-if="feature.infoUrl && !allowEdit">
                                + info <i class="mdl-color-text--blue-grey-400 material-icons"
                                          role="presentation">info</i>
                            </md-button>
                            <h3 class="md-title">
                                Address
                            </h3>
                            <md-content layout-padding>
                                <p>{{feature.address}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.googleMapsUrl}}" target="_blank">
                                Google Maps <i class="mdl-color-text--blue-grey-400 material-icons"
                                               role="presentation">map</i>
                            </md-button>
                        </div>
                        <div flex="50" flex-order="2">
                            <md-card>
                                <img ng-src="{{feature.photoUrl}}" class="img-dialog">
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Social" ng-if="isAuthFB()">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div ng-show="edit">
            <form-place form="formDialog" edit="true" place="feature" restoreplace="copy" types="types"></form-place>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-if="isAuthenticated() && !edit" ng-click="enableEdit()">
            <i class="material-icons">edit</i>
        </md-button>
        <md-button class="md-primary" ng-if="isAuthenticated() && edit && formValidAndDirty(formDialog)"
                   ng-click="saveChanges()">
            <i class="material-icons">save</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated() && edit" ng-click="disableEdit(true)">
            <i class="material-icons">cancel</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated()" ng-click="delete()">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</md-dialog>