<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{feature.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content dialogContent">
        <div ng-show="!edit">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding" layout="row">
                        <div layout="column" layout-align="center center" flex="50" flex-order="1">
                            <h3 class="md-title" ng-if="!allowEdit">
                                {{feature.type | placetype}}
                            </h3>
                            <md-content layout-padding ng-if="!allowEdit">
                                <p>{{feature.description}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.infoUrl}}" target="_blank"
                                       ng-if="!allowEdit">
                                + info <i class="mdl-color-text--blue-grey-400 material-icons"
                                          role="presentation">info</i>
                            </md-button>
                            <h3 class="md-title">
                                Address
                            </h3>
                            <md-content layout-padding>
                                <p>{{feature.address}}</p>
                            </md-content>
                            <md-button class="md-primary" ng-href="{{feature.googleMapsUrl}}" target="_blank">
                                Google Maps <i class="mdl-color-text--blue-grey-400 material-icons"
                                               role="presentation">map</i>
                            </md-button>
                        </div>
                        <div flex="50" flex-order="2">
                            <md-card>
                                <img ng-src="{{feature.photoUrl}}" class="img-dialog">
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Social" ng-if="isAuthenticated()">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div ng-show="edit">
            <form name="formDialog" novalidate>
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex="75">
                            <label>Type</label>
                            <md-select name="type" ng-model="feature.type" required>
                                <md-option ng-repeat="type in types" value="{{type.id}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="formDialog.type.$error" role="alert">
                                <div ng-message="required" class="my-message">Mandatory field</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="75">
                            <label>Name</label>
                            <input name="name" ng-model="feature.name" required>

                            <div ng-messages="formDialog.name.$error" role="alert">
                                <div ng-message="required" class="my-message">Mandatory field</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Description</label>
                            <textarea ng-model="feature.description" columns="1" md-maxlength="150"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Address</label>
                            <input name="address" ng-model="feature.address">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Info URL</label>
                            <input name="infoUrl" type="url" ng-model="feature.infoUrl">
                            <div ng-messages="formDialog.infoUrl.$error" role="alert">
                                <div ng-message="url">
                                    Invalid URL
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <wikipedia-search placeholder="Search Info in Wikipedia" selectedsearchitem="selectedsearchitem">
                    </wikipedia-search>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Photo URL</label>
                            <input name="photoUrl" type="url" ng-model="feature.photoUrl">

                            <div ng-messages="formDialog.photoUrl.$error" role="alert">
                                <div ng-message="url">
                                    Invalid URL
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Photo:</label>
                            <input type="file" name="photo" accept="image/*"
                                   ngf-select ng-model="feature.photo" ngf-max-size="2MB">
                            <i ng-show="formDialog.photo.$error.maxSize">
                                Photo too large: max 2M
                            </i>

                            <div layout="row">
                                <img ng-show="formDialog.photo.$valid" ngf-thumbnail="feature.photo" class="thumb"
                                     flex="30">
                                <md-button class="md-warn" ng-click="feature.photo = null" ng-show="feature.photo"
                                           flex="10">
                                    <i class="material-icons">close</i>
                                </md-button>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-if="isAuthenticated() && !edit" ng-click="enableEdit()">
            <i class="material-icons">edit</i>
        </md-button>
        <md-button class="md-primary" ng-if="isAuthenticated() && edit && formValidAndDirty(formDialog)"
                   ng-click="saveChanges()">
            <i class="material-icons">save</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated() && edit" ng-click="disableEdit(true)">
            <i class="material-icons">cancel</i>
        </md-button>
        <md-button class="md-warn" ng-if="isAuthenticated()" ng-click="delete()">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</md-dialog>