<map boundschanged='boundschanged' locationclicked="locationclicked" features='features'
     layerclicked='layerclicked' layerdelete="layerdelete">
    <md-content class="md-padding map-overlay">
        <div layout="row" layout-align="center center" ng-if="!allowAddTIPs"
             layout-sm="row" layout-align-sm="space-around">
            <chips flex="15" placeholder="TYPE ..." items="types" selected="selectedTypes"></chips>
            <chips flex="15" placeholder="CITY ..." items="cities" selected="selectedCities"></chips>
            <favourite-selector flex="15" ng-if="isAuthFB()"></favourite-selector>
            <social-chips flex="15" ng-if="isAuthFB() && favouritedBy == 1" friends="friends"></social-chips>
        </div>
        <div layout="row" layout-align="center center" ng-if="allowAddTIPs">
            <md-button class="md-raised md-warn" ng-click="finishAddTIPs()">
                <strong>Cancel</strong>
            </md-button>
            <md-button class="md-primary" ng-click="displayHelpMessage();$event.stopPropagation();">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-content>
</map>
<div layout="row" layout-align="center center" class="fab-position">
    <fab ng-if="isAuthenticated() && !loading">
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="addTIP()">
                <i class="material-icons">place</i>
            </md-button>
        </md-fab-actions>
    </fab>
    <md-progress-circular ng-if="loading" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
</div>

