<map locationchanged='locationchanged' locationclicked="locationclicked"
     features='features' layerclicked='layerclicked' layerdelete="layerdelete">

    <div layout="row" layout-align="center center" ng-if="!allowAddTIPs">
        <md-input-container class="map-overlay">
            <label>Type</label>
            <md-select ng-model="type">
                <md-option ng-repeat="type in types" value="{{type.id}}">
                    {{type.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="map-overlay">
            <label>City</label>
            <md-select ng-model="city">
                <md-option ng-repeat="city in cities" value="{{city.id}}">
                    {{city.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center center" ng-if="allowAddTIPs">
        <md-button class="md-raised md-primary map-overlay" ng-click="finishAddTIPs()">
            Done
        </md-button>
    </div>
</map>
<fab>
    <md-fab-actions>
        <md-button class="md-fab md-raised md-mini" ng-click="addTIP()">
            <i class="material-icons">place</i>
        </md-button>
        <md-button class="md-fab md-raised md-mini">
            <i class="material-icons">directions</i>
        </md-button>
    </md-fab-actions>
</fab>


