<div layout="column" layout-align="center center" ng-show="ctrl.isFBReady()">
    <div class="fade" layout="column" ng-if="ctrl.isAuthFB() && ctrl.profilePhotoURL && ctrl.userName">
        <md-list-item class="fade">
            <img ng-src="{{ctrl.profilePhotoURL}}" class="md-avatar"/>
        </md-list-item>
        <span class="md-title">{{ctrl.userName}}</span>
    </div>
    <md-progress-circular class="fade" ng-if="ctrl.loading" md-mode="indeterminate" md-diameter="45">
    </md-progress-circular>
    <md-button class="md-raised md-primary fb-button" ng-click="ctrl.logInFB()" ng-show="!ctrl.isAuthFB()">
        <i class="fa fa-facebook-official"></i> Log In
    </md-button>
    <md-button class="md-raised md-primary fb-button" ng-click="ctrl.logOutFB()" ng-show="ctrl.isAuthFB()">
        <i class="fa fa-facebook-official"></i> Log Out
    </md-button>
</div>