<form name="form" novalidate>
    <div layout="column">
        <div layout="row">
            <md-input-container flex-gt-sm="50">
                <label>Name</label>
                <input name="name" ng-model="route.name" maxlength="20" required>
                <div ng-messages="form.name.$error" role="alert">
                    <div ng-message="required" class="my-message">Mandatory field</div>
                </div>
            </md-input-container>
            <md-input-container layout-align="center center" flex-gt-sm="50">
                <md-radio-group class="custom-selector" ng-model="route.travelMode">
                    <md-radio-button class="md-primary" ng-value="travelmode" ng-repeat="travelmode in travelmodes">
                        <i class="material-icons">{{travelmode | travelModeIcon}}</i>
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Description</label>
                <textarea ng-model="place.description" columns="1" md-maxlength="300"></textarea>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <h3 class="md-headline">
                Places:
            </h3>
        </div>
        <div layout="row" layout-align="center center">
            <md-content class="list-dialog-huge list-item">
                <md-list ng-model="tips" as-sortable>
                    <md-list-item ng-repeat="tip in tips" as-sortable-item>
                        <div class="md-item-text md-whiteframe-z1" layout="row" layout-padding flex as-sortable-item-handle>
                            <h3 class="md-headline" layout="row" layout-align="center center">
                                <i class="fa {{tip.icon}}"></i>
                                <md-button class="md-primary"
                                           ng-href="{{tip.googleMapsUrl}}"
                                           target="_blank">
                                    {{tip.name}}
                                </md-button>
                            </h3>
                            <span flex></span>
                            <md-button class="md-warn" ng-click="removePlace(tip)">
                                <i class="material-icons">close</i>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</form>