<map boundschanged='boundschanged' features='features'
     layerclicked='layerclicked' layerdelete="layerdelete">
    <md-content class="md-padding map-overlay">
        <filters-handler filters-enabled="filtersEnabled" ng-show="!allowAddRoutes"></filters-handler>
        <div class="fade" layout="row" layout-align="center center" ng-if="!allowAddRoutes && filtersEnabled">
            <div layout="column" >
                <md-checkbox class="md-primary" ng-repeat="travelMode in travelModes"
                            ng-checked="existsTravelMode(travelMode, selectedTravelModes)"
                            ng-click="toggleTravelMode(travelMode, selectedTravelModes)">
                    <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                </md-checkbox>
            </div>
        </div>
        <div class="fade" layout="row" layout-align="center center" ng-if="allowAddRoutes">
            <md-radio-group class="custom-selector" ng-model="travelModePreference">
                <md-radio-button class="md-primary" ng-value="travelMode" ng-repeat="travelMode in travelModes">
                    <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                </md-radio-button>
            </md-radio-group>
            <div layout-sm="column">
                <md-button class="md-raised md-primary" ng-click="createRoute()">
                    <strong>Create Route</strong>
                </md-button>
                <md-button class="md-raised" ng-click="createRoute()">
                    <strong>Reset Route</strong>
                </md-button>
                <md-button class="md-raised md-warn" ng-click="finishAddRoutes()">
                    <strong>Cancel</strong>
                </md-button>
            </div>
            <md-button class="md-primary" ng-click="displayHelpMessage()">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-content>
</map>
<div layout="row" layout-align="center center" class="fab-position">
    <fab class="fade" ng-if="isAuthFB() && !loading">
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="enableAddRoutes()">
                <i class="material-icons">directions</i>
            </md-button>
        </md-fab-actions>
    </fab>
    <md-progress-circular class="fade" ng-if="loading" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
</div>