<div id="dialog"></div>
<map markercluster="false" heatmap="false" boundschanged='boundschanged' boundingboxfeatures='boundingboxfeatures' boundingboxlayers="boundingboxlayers"
     permanentfeatures="permanentfeatures" permanentlayers="permanentlayers" layerclicked='layerclicked'>
    <md-content class="md-padding map-overlay">
        <div layout="row" layout-align="center center" ng-show="!allowAddRoutes">
            <filters-handler filters-enabled="filtersEnabled"></filters-handler>
            <md-button class="md-warn" ng-click="clearFilters()" ng-show="!filtersEmpty">
                <md-tooltip md-direction="bottom">
                    Clear Filters
                </md-tooltip>
                <i class="material-icons">clear</i><i class="fa fa-filter btn-icon"></i>
            </md-button>
        </div>
        <div class="fade" layout="row" layout-sm="column" layout-align="center center"
             ng-show="!allowAddRoutes && filtersEnabled" layout-padding>
            <div layout="row">
                <div layout="column">
                    <md-checkbox class="md-primary" ng-repeat="travelMode in travelModes"
                                 ng-checked="existsTravelMode(travelMode, selectedTravelModes)"
                                 ng-click="toggleTravelMode(travelMode, selectedTravelModes)">
                        <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                    </md-checkbox>
                </div>
                <people-selector class="fade" icon="add_circle" iconclass="cyan" ng-show="isAuthFB()"></people-selector>
            </div>
            <span flex="3"></span>
            <social-chips class="fade" ng-show="isAuthFB() && createdBy == 1" friends="friends"></social-chips>
            <chips placeholder="CITY ..." items="cities" selected="selectedCities"></chips>
        </div>
        <div class="fade" layout="row" layout-align="center center" ng-show="allowAddRoutes">
            <div layout-sm="column">
                <md-button class="md-primary fade" ng-if="selectectedTIPLayers.length > 1"
                           ng-click="createOrUpdateRoute()">
                    <i class="material-icons">add_circle</i>
                </md-button>
                <md-button class="fade" ng-if="selectectedTIPLayers.length > 1" ng-click="resetRoute()">
                    <i class="material-icons">replay</i>
                </md-button>
                <md-button class="md-warn" ng-click="cancelAddRoutes()">
                    <i class="material-icons">cancel</i>
                </md-button>
            </div>
            <md-radio-group class="custom-selector" ng-model="travelModePreference.selected">
                <md-radio-button class="md-primary" ng-value="travelMode" ng-repeat="travelMode in travelModes">
                    <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                </md-radio-button>
            </md-radio-group>
            <md-button class="md-primary" ng-click="displayHelpMessage()">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-content>
</map>
<div layout="row" layout-align="center center" class="fab-position">
    <fab class="fade" ng-show="isAuthFB() && !loading">
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="enableAddRoutes()">
                <md-tooltip md-direction="left">
                    Add Route
                </md-tooltip>
                <i class="material-icons">directions</i>
            </md-button>
        </md-fab-actions>
    </fab>
</div>
<md-progress-circular class="fade loading-position " ng-show="loading" md-mode="indeterminate" md-diameter="75">
</md-progress-circular>