<map boundschanged='boundschanged' boundingboxfeatures='boundingboxfeatures' boundingboxlayers="boundingboxlayers"
     permanentfeatures="permanentfeatures" permanentlayers="permanentlayers" layerclicked='layerclicked'>
    <md-content class="md-padding map-overlay">
        <filters-handler filters-enabled="filtersEnabled" ng-show="!allowAddRoutes"></filters-handler>
        <div class="fade" layout="row" layout-sm="column" layout-align="center center"
             ng-if="!allowAddRoutes && filtersEnabled">
            <chips placeholder="CITY ..." items="cities" selected="selectedCities"></chips>
            <div layout="row">
                <div layout="column">
                    <md-checkbox class="md-primary" ng-repeat="travelMode in travelModes"
                                 ng-checked="existsTravelMode(travelMode, selectedTravelModes)"
                                 ng-click="toggleTravelMode(travelMode, selectedTravelModes)">
                        <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                    </md-checkbox>
                </div>
                <favourite-selector class="fade" ng-if="isAuthFB()"></favourite-selector>
            </div>
            <social-chips class="fade" ng-if="isAuthFB() && favouritedBy == 1" friends="friends"></social-chips>
        </div>
        <div class="fade" layout="row" layout-align="center center" ng-if="allowAddRoutes">
            <div layout-sm="column">
                <md-button class="md-raised md-primary" ng-if="selectectedTIPLayers.length > 1"
                           ng-click="createRoute()">
                    <strong>Create Route</strong>
                </md-button>
                <md-button class="md-raised" ng-if="selectectedTIPLayers.length > 1" ng-click="resetRoute()">
                    <strong>Reset Route</strong>
                </md-button>
                <md-button class="md-raised md-warn" ng-click="cancelAddRoutes()">
                    <strong>Cancel</strong>
                </md-button>
            </div>
            <md-radio-group class="custom-selector" ng-model="travelModePreference.selected">
                <md-radio-button class="md-primary" ng-value="travelMode" ng-repeat="travelMode in travelModes">
                    <i class="material-icons">{{travelMode | travelModeIcon}}</i>
                </md-radio-button>
            </md-radio-group>
            <md-button class="md-primary" ng-click="displayHelpMessage()">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-content>
</map>
<div layout="row" layout-align="center center" class="fab-position">
    <fab class="fade" ng-if="isAuthFB() && !loading">
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="enableAddRoutes()">
                <i class="material-icons">directions</i>
            </md-button>
        </md-fab-actions>
    </fab>
    <md-progress-circular class="fade" ng-if="loading" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
</div>